## >>>>>>>>> ttool >>>>>>>>>

/debug/*
debug/
debug/**/*
dataset/
*.log

## >>>>>>>>> cmake >>>>>>>>>
# Compiled Object files
**/.DS_Store
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

**/cmake-build-debug
**/CMakeCache.txt
**/cmake_install.cmake
**/install_manifest.txt
**/CMakeFiles/
**/CTestTestfile.cmake
**/Makefile
**/*.cbp
**/CMakeScripts
**/compile_commands.json

include/divisible/*

# Local 
[Bb][Uu][Ii][Ll][Dd]/**/*


## >>>>>>>>> vscode >>>>>>>>>
# gen
.vscode/**
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/c_cpp_properties.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# VScode config
.vscode/**

# clion config
.idea

model_*/**/*
!model_*/**/*.obj
!saw_*/**/*.obj
!circular_*/**/*.obj

assets/toolheads/
assets/toolheads/**/*

## >>>>>>>> c++ >>>>>>>>>
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# build folder
build/